<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">Belap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" ui-sref="">Home <span class="sr-only"></span></a>
      </li>
        <li class="nav-item">
        <a class="nav-link"  ui-sref="marcas">Reparaciones</a>
      </li>
        <li>
            <a class="nav-link" ng-click="cerrarSesion()" ng-if="user">Cerrar sesion</a>
        </li>
      <li class="nav-item dropdown" ng-if="!user" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login/Registro
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" ui-sref="login">Iniciar sesión</a>
          <a class="dropdown-item" ui-sref="registro">Registro</a>
        </div>
      </li>
    </ul>
  </div>
</nav>